*{
    box-sizing: border-box;
}

body{
    padding:0;
    margin:0;
    text-align: center;
}

#quiz{
    margin-top: 5%;
}

button{
    display: block;
    width: 300px;
    padding: 10px;
    border: none
}
.resposta{
    margin:auto auto;
    margin-bottom: 1%;
}

#confirm{
    margin: auto auto;
    background: #11b411;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.resposta{
    margin:auto auto;
    margin-bottom: 1%;
    cursor: pointer;
}

.resposta:hover{
    background: yellow;
}

.resposta.selecionada{
    background: #c9c9f6;
}

#confirm:hover{
    background: #0a7d0a;
}

